
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #e8e8e8;
}

.timeline-container {
    padding: 0;
    width: 100%;
    height: 628px;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.15);
    overflow: hidden;
}

#timeline {
    width: 100%;
    height: 100%;
}

.timeline-horizontal-axis {
}

.timeline-event text {
    font-size: 10pt;
}

.timeline-event path {
    fill: rgb(230,230,230);
}

.timeline-current-date {
}

.axis line, .axis path {
    fill: none;
    stroke: black;
    stroke-width: 1px;
}